body{
    background-color: black;
}
.banner{
    width: 100%;
    height: 30%;
    object-fit: cover;
    object-position: top;
    padding: none;
    position: absolute;
}
.pfp{
    width: 25%;
    padding: none;
    position: absolute;
    left: 5%;
    top: 17%;
    border: 4px solid;
    border-radius: 50%;
}
body{
    background-color: black;
}
.banner{
    width: 100%;
    height:25%;
    contain: content;
    padding: none;
}
.name{
    
}