body{
    background-color: black;
}
.banner{
    width: 100%;
    height: 30%;
    object-fit: cover;
    object-position: top;
    padding: none;
    position: absolute;
}
.pfp{
    width: 125px;
    padding: none;
    position: absolute;
    left: 5%;
    top: 16%;
    border: 4px solid;
    border-radius: 50%;
}
body{
    width: 1080px;
    background-color: black;
    margin: auto;
}
.banner{
    width: 665px;
    height:25%;
    contain: content;
    padding: none;
}
.name{
    color: white;
    position: absolute;
    top: 250px;
    left: 20px;
    font-size: 16pt;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.handle{
    color: #71767b;
    font-size: 12pt;
    line-height: 1pt;
}
p{
    padding: none;
    margin: none;
    line-height: 4.5pt;
}
.bio{
    position: absolute;
    top: 308px;
    height: 275px;
    left: 9.25px;
}
.twtext{
    position:absolute;
    top:510px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size:11pt;
    left: 75px;
}
.follow{
    position: absolute;
    top: 675px;
    height: 30px;
    left: 300px;
}